*{
    padding: 0;
    margin: 0;
}

body{
    display: grid;
    grid-template-columns: repeat(10,198px);
    grid-template-rows: repeat(10,89.1px);
    overflow-x: auto;
    overflow-y: auto;
    font-family: Arial;
    font-size: 20px;

}

@media (min-width:1764px){
    body{
        grid-template-columns: repeat(10,10vw);
    }
}

@media (min-height:889px){
    body{
        grid-template-rows: repeat(10,10vh);
    }
}

#leftDashboard{
    grid-column: 1/3;
    grid-row: 1/-1;
    border-right: 2px solid rgb(113, 64, 0);
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#projects{
    display: flex;
    flex-direction: column;
    height: 100%;
    border-top: 2px solid rgb(113, 64, 0);
    overflow-y: auto;
}

#projects label{
    flex-shrink: 0;
    color: rgb(113, 64, 0);
    border-bottom: 2px solid rgb(113, 64, 0);
    height: 40px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#title{
    color:rgb(113, 64, 0);
    height: 230px;
    flex-shrink: 0;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projectsSectionTItle{
    height: 80px;
    flex-shrink: 0;
    display: flex;
    border-top: 2px solid rgb(113, 64, 0);
}

#projectsSectionTItle div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

#projectsSectionTItle div button{
    border: 2px solid rgb(113, 64, 0);
    border-radius: 30px;
    background-color: white;
    height: 50px;
    width: 50px;
}

#projectsSectionTItle label{
    display: flex;
    flex-direction: column;
    justify-content: center;
    color: rgb(113, 64, 0);
    flex-shrink: 0;
    width: 80%;
}


#TaskSectionTitleBar{
    grid-row: 3/4;
    grid-column: 5/9;
    color: rgb(113, 64, 0);
    display: flex;
}

#TaskSectionTitleBar label{
    display: flex;
    font-size: 30px;
    flex-direction: column;
    justify-content: center;
    width: 95%;
}

#TaskSectionTitleBar div{
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#TaskSectionTitleBar div button{
    border: 2px solid rgb(113, 64, 0);
    border-radius: 30px;
    background-color: white;
    height: 50px;
    width: 50px;
    flex-shrink: 0;
}

#tasksLists{
    grid-column: 4/10;
    grid-row: 5/10;
    display: flex;
    gap: 2%;
    justify-content: center;
}

.genTasksListsAttr{
    border: 2px solid rgb(113, 64, 0);
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    width: 30%;
}

.genTasksListsAttr #boxTitle{
    height: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
    border-bottom: 2px solid rgb(113, 64, 0);
    color: rgb(113, 64, 0);
    flex-shrink: 0;
}

.remButton{
    width: 30px;
    height: 30px;
    background-color: white;
    border: 2px solid rgb(113, 64, 0);
    border-radius: 15px;
}

.taskList{
    display: flex;
    flex-direction: column;
    overflow-y: auto;
}

#form{
    grid-column: 3/-3;
    grid-row: 3/9;
    background-color: white;
    border: 2px solid rgb(113, 64, 0);
    border-radius: 3px;
    z-index: 1;
    display: flex;
    flex-direction: column;
    overflow: auto;
    gap: 35px;
    color: rgb(113, 64, 0);
}

.field{
    display: flex;
    flex-direction: column;
    flex-shrink: 0;
    padding-left: 20%;
    padding-right: 20%;
}

.field #Statuts{
    display: flex;
    gap:5%;
} 

.field #Statuts button{
    width: 30%;
}

.field textarea,.field input, .field button{
    border: 2px solid rgb(113, 64, 0);
    border-radius: 3px;
    height: 30px;
}

#submitButton{
    background-color: white;
    margin-top: 35px;
    height: 50px;
    color: rgb(113, 64, 0);
}

#FormTitle{
    text-align: center;
    height: 60px;
    border-bottom: 2px solid rgb(113, 64, 0);
    display: flex;
    flex-direction: column;
    justify-content: center;
    flex-shrink: 0;
}

#taskPlaceHolder{
    grid-row: 5/-5;
    grid-column: 5/-3;
    color: rgb(113, 64, 0);
    font-size: 60px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    text-align: center;
}

.taskList section{
    height: 40px;
    display: flex;
    border-bottom: 2px solid rgb(113, 64, 0);
}

.taskList section label,.taskList section div{
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.taskList section label{
    width: 85%;
    margin: 2%;
    overflow: auto;
    flex-shrink: 0;
}

.taskList section div button{
    width: 30px;
    height: 30px;
    border-radius: 15px;
    border: 2px solid rgb(113, 64, 0);
    background-color: white;
}